/*
HTTP://KERNEST.COM FONT DELIVERY SPONSORED BY:
'Looking Glass' Kernest Konstellation #11 Download Now from http://konstellations.kernest.com - http://konstellations.kernest.com 
*/

/* 
Comfortaa Thin 
 
Foundry: Johan Aakerlund, http://aajohan.deviantart.com 
Contributors:  
License: Eric Schiller License, http://kernest.com/images/EricSchillerLicense.txt 
*/

@font-face {
	font-family: 'Comfortaa';
	font-weight: 200;	
src: url('http://fonts.kernest.com/embed/comfortaa-thin.eot?') format('eot'), url('http://fonts.kernest.com/embed/comfortaa-thin.ttf') format('truetype'), url('http://fonts.kernest.com/embed/comfortaa-thin.woff') format('woff'), url('http://fonts.kernest.com/embed/comfortaa-thin.svg#comfortaa_thin') format('svg'); }

